/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
/* header style */
.top-header{
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    display: flex;
}
.top-header:hover .banner img{
    transform: rotate(360deg);
    transition: ease 2s;
}
.header-title{
    width: 485px;
    height: 230px;
   font-size: 64px;
   color: #FFFFFF;
   margin-left: 156px;
   margin-top: 207px;
}
.button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 24px 10px 24px;
    margin-top: 27px;
    margin-left: 156px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    margin-top: 135px;
}

/* players gallery */

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.player{
    background-color: white;
    Width :330px;
    Height :474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-banner img{
    margin:15px;
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
}
.player-details{
   width:  300px;
   height:  154px;
  margin: 15px;
}

.player-info{
    font-size: 12px;
    font-weight: 400;
    color: #6C6C6C; 
}

/* match style */
.matches{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    background-color: ivory;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 210px;
}
.match{
    padding: 70px;
}
.match img{
    width: 300px;
    height: 256px;
}
.match h2{
    font-size: 20px;
    font-style: italic;
}
/* highlights */
.highlight{
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight img{
    width: 300px;
    height: 256px;
    padding: 30px;
}

/* Footer part */
footer{
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.fab{
    width: 32px;
    height: 32px;
}
footer p{
    font-size: 18px;
    font-weight: 400;
}
footer img{
    width: 483.87px;
    height: 110px;
}

/* media queries */
/* for mobile */
@media screen and (max-width: 688px){
   main,footer,header{
       width: 100%;
   }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
    }
}

/* for ipads */
@media only screen and (min-width: 688px) and (max-width:992px){
    header,main,footer{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        flex-direction: column;
    }
}